@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

html, body, p {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    background-color: #C9E2F2;
}

.container .btn-modal label p {
    position: absolute;
    background-color: #79C4F2;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: all .3s;
}

.container .btn-modal label p:hover {
    cursor: pointer;
    background-color: #50B4F2;
}